
.container{
    text-align: center;
    position: relative; top: 200px;
    padding: 10px;
    max-width: 850px;
    width: 350px;
    height: 230px;
    background-color: white;
    
}
   .h{
    font-style: calc(0000); position: relative; top: -20px;
   }
.inputtype{
    height: 40px;
    width: 100%;
   outline: none;
   border: none;
   font-size: 1pc;
   font-weight: 50px;
   border-bottom: 2px solid rgba(0,0,0,0.2);
   margin-left: 0 10px;
   padding: 1px;
   position: relative; top: -20px;
}
body{
    background-color: #7d2ae8;
    padding: 40px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link{
    position: relative; top: -10px; 
    left: -116px; 
}
.submit{
    height: 40px;
    width: 140px;
    right: 50px;
    background-color: #7d2ae8;
    font: optional;color: white;
    }
