header{
    background-color: aqua;
    height: 70px;
}
 nav{
    background-color: black;
    height: 56px;
}
#left-coln{
    float: left;
    background-color: blueviolet;
    width: 230px;
    background-color: blueviolet;
    height: 500px;
}

#left-container{
   
    background-color: #671717;
    height: 500px;
}
footer{
    background-color: darkgreen;
    height: 50px;
}